<html>
    <head>
        <title>Nicola's website</title>
    </head>
    <body>
        <div>
            <h1><a href="">The first website</a></h1>
        </div>

        <div>
            <p>published: 13.02.2016, 16:12</p>
            <h2><a href="">My first post</a></h2>
            <p> It is time to pack up now!</p>
        </div>

        <div>
            <p>published: 13.02.2016, 16:15</p>
            <h2><a href="">My second post</a></h2>
            <p>It has been a brilliant day although my brain is hurting now!</p>
        </div>
    </body>
</html>
